$var page_title: 关于

<div class="post_image_wrap" style="height:400px;">
    <span style="background-image:url(/static/public/img/8035266494_0b6220560e_h.jpg)" class="post_image">
        <img style="display:none" alt="" src="/static/public/img/8035266494_0b6220560e_h.jpg">
    </span>
</div>
<h2 style="text-align:center;margin-top:30px;">Biu的介绍</h2>
<div style="text-align:left;margin-top:50px;font-size:14px;padding:0 0 20px 0" class="post_content">
    <p style="padding-top:20px;">
在几乎人人都会用手机拍照片的时代，却鲜有人知道著名摄影师Henri Cartier Bresson；连爷爷奶奶都能在电脑上敲敲打打，写出一篇博客，可是又有多少人读过George Orwell的《1984》？——也许你会拿钱钟书先生的“假如你吃了个鸡蛋觉得不错，何必认识那下蛋的母鸡呢”这句话来为自己辩论，可你不是钱钟书。——人们的视线似乎被限制在了网络上各自关注的那群人中，丧失了探索未知领域的好奇心。
<br/><br/>
遇见, 经历, 记录, 回忆, 思考.
<br/><br/>
录下你的生活.
<br/><br/>
你可以创建你感兴趣的话题，比如一个名为“科幻小说”或者“文艺复兴”的话题，然后你就可以在这个话题下发表“片段”。
<br/><br/>
“片段”就是归属于这个话题下的文章, 就像你生活的某些片段，记下它, 分享它, 它可以是一张图片，也可以是一段文字。我们鼓励大家在话题下发布片段。话题就像一颗小树苗，片段就像枝叶，枝叶越是繁茂，树苗越是茁壮。
<br/><br/>
当然，你也可以直接在别人已经创建的话题中发表“片段”。这样通过大家的集体贡献，话题下的内容会越来越丰富。也许哪天你打开自己创建的一个话题时，会惊讶地发现别人已经帮你完成了一部小型的百科全书。
<br/><br/>
如果你觉得某个片段不错，可以点击“喜欢”为它投一票，Biu会根据你的投票以及其他因素对片段进行排列。所以，你的每一票都会影响到片段在话题中的排列顺序，帮助Biu把优质的内容筛选出来，更多的展示给其他人。
<br/><br/><br/>
<h5>背后:</h5>
<br/>
· 框架基本fork出处:<a href="https://github.com/naoyeye/rhinoceros">Biu</a>。<br/><br/>




    </p>
</div>

<footer id="home_footer" class="clearfix">
    <div class="pull-right">
        <a href="/about">关于</a>
        <a href="/policy">免责声明</a>
        <a href="/privacy">隐私声明</a>
        <a href="/guideline">使用须知</a>
        <a href="/blog">博客</a>
    </div>
    <div class="pull-left corpright">
        2013 Copyright &copy; power by <a href="https://github.com/naoyeye/rhinoceros">rhinoceros</a>
    </div>
</footer>
